DATABASE_URL=postgres://postgres:password@db.host:5432/postgres
VITE_DATABASE_URL=postgres://postgres:password@db.host:5432/postgres
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_ANON_KEY=your_anon_key
VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key
